<a href="https://colab.research.google.com/github/roneshpra/PythonLearning/blob/Dev/PythonBasics/Python_Wk1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Text cell

# header
## SubHeader
### Sub-SubHeader


Create a unordered list using *
* Apple
* Oranges
* Grapes
* Avacados
* Nectarines
* Peaches

In [ ]:
2+1
3+4
print(2+2)
print("Hello", "World" + "!")
print('Hello', 'World!')
print("Hello", 'World!')
print("str"+ "2")

# Use hashtag to comment.

4
Hello World!
Hello World!
Hello World!
str2

In [ ]:
### Variables ###
price = 1100
brand = "Apple"
ram = 8
storage = 128
is_billed = True
print("The price of the phone is $", price, sep='')
print("The brand of the phone is", brand, ".\nThe RAM on the phone is", ram, "GB and storage is", storage, "GB")
type(is_billed)

The price of the phone is $1100
The brand of the phone is Apple .
The RAM on the phone is 8 GB and storage is 128 GB

bool

In [6]:
#type(price)
a = 900/2
b = 900//2
print(a)
print(b)
print(type(a))

450.0
450
<class 'float'>

In [5]:
a = 30
b = 8
c = a/b
print("a is of type",type(a), "and c is of type", type(c) )

a is of type <class 'int'> and c is of type <class 'float'>

In [9]:
## type coversions
d = str(a)
d

'450.0'

In [23]:
## Data Structures ##
# List #

brand_list = ['Apple', 'Samsung', 'LG', 'Apple']
ram_list = [4, 12, 8, 8]
storage_list = [128, 128, 64, 128]
price_list = [900, 899, 600, 1000]

len(brand_list)
min_price = min(price_list)
print("The minimum price is ", min_price)
brand_list.pop()
brand_list.append("Motorola")
brand_list

x = [10, "Range", "Great", -54, 11, 12]
print(x[1])
print(len(x[2:4]))
print(x[2:-1])
print(x[-2:-1])

The minimum price is  600
Range
2
['Great', -54, 11]
[11]

In [ ]:
# Tuple #
a = (1, 3, 4, 7, 8, 9)
type(a)
a[3]

7

In [ ]:
# Dictionary #
candidates = {
    'Name': ['Ronesh', 'Pranitha', 'Tisha', 'Tara'],
    'LastName': ['Bhandari', 'Chitturu', 'Sharma', 'Verma'],
    'Age': [40, 38, 7, 1]
}

type(candidates)
candidates['Name'][2]
candidates['LastName'][3] = 'Bhandari'
candidates
print(candidates.keys())
print(candidates.values())
print("Age of ", candidates['Name'][2], candidates['LastName'][2], "is", candidates["Age"][2])
print(candidates)

dict_keys(['Name', 'LastName', 'Age'])
dict_values([['Ronesh', 'Pranitha', 'Tisha', 'Tara'], ['Bhandari', 'Chitturu', 'Sharma', 'Bhandari'], [40, 38, 7, 1]])
Age of  Tisha Sharma is 7
{'Name': ['Ronesh', 'Pranitha', 'Tisha', 'Tara'], 'LastName': ['Bhandari', 'Chitturu', 'Sharma', 'Bhandari'], 'Age': [40, 38, 7, 1]}