<a href="https://colab.research.google.com/github/roneshpra/PythonLearning/blob/Dev/PythonBasics/Python_Wk1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Text cell

# header
## SubHeader
### Sub-SubHeader


Create a unordered list using *
* Apple
* Oranges
* Grapes
* Avacados
* Nectarines
* Peaches

In [ ]:
2+1
3+4
print(2+2)
print("Hello", "World" + "!")
print('Hello', 'World!')
print("Hello", 'World!')
print("str"+ "2")

# Use hashtag to comment.

4
Hello World!
Hello World!
Hello World!
str2

In [ ]:
### Variables ###
price = 1100
brand = "Apple"
ram = 8
storage = 128
is_billed = True
print("The price of the phone is $", price, sep='')
print("The brand of the phone is", brand, ".\nThe RAM on the phone is", ram, "GB and storage is", storage, "GB")
type(is_billed)

The price of the phone is $1100
The brand of the phone is Apple .
The RAM on the phone is 8 GB and storage is 128 GB

bool

In [ ]:
#type(price)
a = 900/2
b = 900//2
print(a)
print(b)
print(type(a))

450.0
450
<class 'float'>

In [ ]:
a = 30
b = 8
c = a/b
print("a is of type",type(a), "and c is of type", type(c) )

a is of type <class 'int'> and c is of type <class 'float'>

In [ ]:
## type coversions
d = str(a)
d

'450.0'

In [7]:
## Data Structures ##
# List #

brand_list = ['Apple', 'Samsung', 'LG', 'Apple']
ram_list = [4, 12, 8, 8]
storage_list = [128, 128, 64, 128]
price_list = [900, 899, 600, 1000]

len(brand_list)
min_price = min(price_list)
print("The minimum price is ", min_price)
brand_list.pop()
brand_list.append("Motorola")
brand_list

x = [10, "Range", "Great", -54, 11, 12]
print(x[1])
print(len(x[2:4]))
print(x[2:-1])
print(x[-2:-1])

The minimum price is  600
Range
2
['Great', -54, 11]
[11]

In [ ]:
# Tuple #
a = (1, 3, 4, 7, 8, 9) # Tuples are immutable i.e. it cannot be changed once created. Its used to store variables that will not be changed.
type(a)
a[3]

7

In [1]:
# Dictionary #
candidates = {
    'Name': ['Ronesh', 'Pranitha', 'Tisha', 'Tara'],
    'LastName': ['Bhandari', 'Chitturu', 'Sharma', 'Verma'],
    'Age': [40, 38, 7, 1]
}

type(candidates)
candidates['Name'][2]
candidates['LastName'][2] = 'Bhandari'
candidates['LastName'][3] = 'Bhandari'
candidates
print(candidates.keys())
print(candidates.values())
print("Age of ", candidates['Name'][2], candidates['LastName'][2], "is", candidates["Age"][2])
print(candidates)

dict_keys(['Name', 'LastName', 'Age'])
dict_values([['Ronesh', 'Pranitha', 'Tisha', 'Tara'], ['Bhandari', 'Chitturu', 'Bhandari', 'Bhandari'], [40, 38, 7, 1]])
Age of  Tisha Bhandari is 7
{'Name': ['Ronesh', 'Pranitha', 'Tisha', 'Tara'], 'LastName': ['Bhandari', 'Chitturu', 'Bhandari', 'Bhandari'], 'Age': [40, 38, 7, 1]}

In [4]:
# Conditional Statements #

# if - else #
price = 1000
budget = int(input('Enter your Budget(in dollars): '))

if price <= budget :
  print('Congrats ! You can buy the Iphone')
else :
  print('Sorry ! You cannot buy the Iphone')

Enter your Budget(in dollars): 900
Sorry ! You cannot buy the Iphone

In [7]:
# if- elif - else #

memory = int(input('Enter the memory size of the phone: '))

if memory == 32 :
  print('The price of the phone is $900')
elif memory == 64 :
  print('The price of the phone is $1000')
elif memory == 128 :
  print('The price of the phone is $1100')
else :
  print('Please enter valid memory size in GB.')

Enter the memory size of the phone: 128
The price of the phone is $1100

In [8]:
a = b = TRUE

if (a==b) :
  print("Hello")
else :
  print("Well Done")

NameError: name 'TRUE' is not defined

In [16]:
## Looping Statement - for loop ##

range(5)
print(list(range(0,5)))
print(list(range(2,5)))
print(list(range(0,5,2)))

[0, 1, 2, 3, 4]
[2, 3, 4]
[0, 2, 4]

In [24]:
price = 1200

for i in range(5,16,5):
  discount = i/100 * price
  print("The price after ", i, "% discount is $", int(price - discount), sep='')

The price after 5% discount is $1140
The price after 10% discount is $1080
The price after 15% discount is $1020

In [2]:
price = 1200

j = 5
while j <= 20 :
  discount = j/100 * price
  print("The price after ", j, "% discount is $", int(price - discount), sep='')
  j += 5

The price after 5% discount is $1140
The price after 10% discount is $1080
The price after 15% discount is $1020
The price after 20% discount is $960

In [5]:
i =5
count = 0
while (i > 0):
  i= i-1
  count = count + 1
print(count)


x = [1, 2, 3, 4, 5]
while x:
  print(x.pop(0 ))

5
1
2
3
4
5

In [14]:
## List Comprehensions ##

discounted_price_list = []

for i in price_list:
  discount_price = i - (i*(5/100))
  discounted_price_list.append(discount_price)

print(discounted_price_list)


list_comprehension = [i - (i*(5/100)) for i in price_list]
print(list_comprehension)

week_list = ["Week" + str(i) for i in range(5)]
print(week_list)

[855.0, 854.05, 570.0, 950.0]
[855.0, 854.05, 570.0, 950.0]
['Week0', 'Week1', 'Week2', 'Week3', 'Week4']

In [18]:
## Functions ##

def test_func():
  ''' This is a test function '''
  #print("This is a test function")

test_func()

def func(a):
  print(a)

A =[0, 1, 2, 3]
func(A)

def say(message, times):
  print(message*times)

say("How are you", 2)

[0, 1, 2, 3]
How are youHow are you

In [20]:
def disc_price(discount):
  """
  This functions needs a input parameter of discount percentage and output the discounted price
  """
  price = 1200
  discount_price = price - (price*(discount/100))
  return discount_price

disc_price(5)

1140.0

In [23]:
price_after_disc = lambda discount : price - (price*(discount/100))
price_after_disc(5)

(lambda X : (X+2)*5/2)(4)

15.0

In [28]:
## args ###

#def total_amount(price1, price2, price3, price4):
 # return price1 + price2 + price3 + price4

def total_amount(*args):
  total = 0
  for arg in args:
    total += arg
  return total

#total_amount(100, 200, 300, 400)
total_amount(900, 100, 200, 300, 400, 500,600)

3000

In [3]:
def fun(var1=2, var2=4):
  #var2 = 6
  #var1 = 5
  print(var1, var2)

fun(7, 9)

7 9

In [9]:
def total_cust_spend(*prices, **kwargs):
  total = 0

  for price in prices:
    total += price

  net_spend = total - total*(kwargs['discount']/100) - kwargs['cashback']

  if total >= 10000:
    reward_points = 300
  elif total >= 5000:
    reward_points = 2000
  else:
    reward_points = 100

  return total, net_spend, reward_points
kwargs = {'discount': 10, 'cashback': 100}
total, net_spend, reward_points = total_cust_spend(1200, 1400, **kwargs)
#total_cust_spend(1200, 1400, discount= 10, cashback= 100)
#
print(" The total cost is $", str(total), "\n The discounted price is $", net_spend, "\n The reward points earned are ", reward_points, sep='')

 The total cost is $2600
 The discounted price is $2240.0
 The reward points earned are 100

In [14]:
car = {"brand" : "Audi", "model" : "Q2", "year" : 1980}
print(car)

#car["year"] = 2019
#car{"year"} = 2019

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}